/* css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 40px;
  font-family: 'Signika', sans-serif;
  scroll-behavior: smooth;
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#intro {
  /* color: #FFFFFF; */
  color: black;
  background-image: url("assets/img/cat.jpg");
  /* background-color: green; */
}
#about{
  background-color: #EDE0D4;
  color: #7F5539;
  /* display: inline-grid; */
}
img{
  width: 30vw;
  height: 100%;
}
.text{
  padding-left: 10vw;
}
#input{
  
}
